{% extends "base.html" %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-2">{{user.username}}</h1>
    <ul>
        <li>Username: {{user.username}}</li>
        <li>Name: {{user.first_name}} {{user.last_name}}</li>
        <li>Email: {{user.email}}</li>

    </ul>
    <h3 class="display-4">Feedback:</h3>
    <div>
        {% for item in feedback %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{item.title}}</h4>
                <p class="card-text">{{item.content}}</p>
                {% if session["username"] == item.username %}
                <a class="card-link" href="/feedback/{{item.id}}/update"><i
                        class="fa-regular fa-pen-to-square"></i>Edit</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    <div class="d-flex flex-row">
        {% if session["username"] == user.username %}
        <form action="/users/{{user.username}}/feedback/add">
            <button class="btn btn-primary m-1"><i class="fa-regular fa-comment"></i> Add Feedback</button>
        </form>
        <form action="/users/{{user.username}}/delete" method="POST">
            <button class="btn btn-danger m-1"><i class="fa-solid fa-user-xmark"></i> Delete User</button>
        </form>
        {% endif %}
        <form action="/secret">
            <button class="btn btn-secondary m-1"><i class="fa-solid fa-user-secret"></i> Secrets</button>
        </form>
    </div>

    {% endblock %}